<div class="mat-dialog-content" mat-dialog-content=""><p>What's your name?</p>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="name" #ctrl="ngModel" name="first" required>
    </mat-form-field>
  </form>
</div>
<div class="mat-dialog-actions" mat-dialog-actions="">
  <button cdkfocusinitial="" (click)="submit()" mat-button="" type="button" class="mat-button" aria-label="Close dialog"><span
    class="mat-button-wrapper">Ok</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
